body {
	width: 960px
}
header{
	background-color: powderblue;
	max-width :960px;
	height:150px;
	margin-bottom: 75px;
}
.column1{
	background-color: pink;
	width:470px;
	height:480px;
	display: inline-block;
	vertical-align: text-top;
	font-family: helvetica;
}

.column2{
	background-color: green;
	width:470px;
	height:480px;
	display: inline-block;
	vertical-align: text-top;
	font-family: impact;
}

footer{
	background-color: powderblue;
	max-width :960px;
	height:550px;
}