<!DOCTYPE html>
<html>
<head>
	<title>Add Staffs Pets Names and breed</title>
</head>
<body>
	<h1>Add Pet Name and breed</h1>
	<p>Click <a href="floofers/new">here</a>to add your pet to the list.</p>
	<ul>
		<% @doggos.each do |pet| %>
			<li>
				<%= pet['name'] %>, <%= pet['breed'] %>
			</li>
		<% end %>
	</ul>
</body>
</html>

<!-- mix matching the same sattribute between different files 
did not feel very intuitive... until it worked -->