<!DOCTYPE html>
<html>
<head>
	<title>Add Pet Name and Age</title>
</head>
<body>
	<form action="/floofers" method="POST">
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="breed" placeholder="Breed">
	<button type="submit">Save</button>
</form>
</body>
</html>